/* _red */
._red
	background _red
._lightred
	background _lightred
._darkred
	background _darkred

/* _blue */
._blue
	background _blue
._lightblue
	background _lightblue
._darkblue
	background _darkblue

/* _green */
._green
	background _green
._lightgreen
	background _lightgreen
._darkgreen
	background _darkgreen

/* _purple */
._purple
	background _purple
._lightpurple
	background _lightpurple
._darkpurple
	background _darkpurple

/* _gray */
._gray
	background _gray
._lightgray
	background _lightgray
._darkgray
	background _darkgray

/* _white */
._white
	background white