_red 			= #BF410F
_lightred		= #F56138
_darkred		= #A63111

_green 			= #219C33
_lightgreen 	= #4FC460
_darkgreen 		= #147823

_gray 			= #999
_lightgray 		= #ccc
_darkgray 		= #777

_blue 			= #3266BA
_lightblue 		= #3D7EFF
_darkblue		= #12408A

_purple 		= #8925F5
_lightpurple 	= #AA6EEB
_darkpurple		= #4B118A
