
.s
	color _green
.tg
	color _red
.r
	color _blue
.var
	color _purple
.c
	color _gray
.dev
	background #222
	color white
	.s
		color _green
	.tg
		color _lightred
	.r
		color _lightblue
	.var
		color _lightpurple
	.c
		color _darkgray