.navbar
	.navbar-brand
		opacity 0.8
		&:hover
			opacity 1
	li>a 
		opacity 0.7
		&:hover
			opacity 0.9
			background none
		&:active
			opacity 1
			background none
	.open>a, .open>a:hover, .open>a:focus
		background none
	li .dropdown-menu
		background white
	.navbar-toggle
		background white
		.icon-bar
			background _gray
/*  blue  */
.navbar-blue
	background _blue
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkblue
	.open>a, .open>a:hover, .open>a:focus
		background _darkblue
	li .dropdown-menu a
		color _darkblue
		&:hover
			color white
			background _blue
	.navbar-toggle
		background _darkblue
		.icon-bar
			background _blue
/*  red  */
.navbar-red
	background _red
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkred
	.open>a, .open>a:hover, .open>a:focus
		background _darkred
	li .dropdown-menu a
		color _darkred
		&:hover
			color white
			background _red
	.navbar-toggle
		background _darkred
		.icon-bar
			background _red
/*  green  */
.navbar-green
	background _green
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkgreen
	.open>a, .open>a:hover, .open>a:focus
		background _darkgreen
	li .dropdown-menu a
		color _darkgreen
		&:hover
			color white
			background _green
	.navbar-toggle
		background _darkgreen
		.icon-bar
			background _green

/*  purple  */
.navbar-purple
	background _purple
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkpurple
	.open>a, .open>a:hover, .open>a:focus
		background _darkpurple
	li .dropdown-menu a
		color _darkpurple
		&:hover
			color white
			background _purple
	.navbar-toggle
		background _darkpurple
		.icon-bar
			background _purple

/*  gray  */
.navbar-gray
	background _gray
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkgray
	.open>a, .open>a:hover, .open>a:focus
		background _darkgray
	li .dropdown-menu a
		color _darkgray
		&:hover
			color white
			background _gray
	.navbar-toggle
		background _darkgray
		.icon-bar
			background _gray

/*  white  */
.navbar-white
	background white
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkwhite
	.open>a, .open>a:hover, .open>a:focus
		background _darkwhite
	li .dropdown-menu a
		color _darkwhite
		&:hover
			color white
			background white
	.navbar-toggle
		background _darkwhite
		.icon-bar
			background white
@media(max-width: 767px)
	.navbar
		li .dropdown-menu a
			color white
