
/*  blue  */
.navbar-blue-theme
	background linear-gradient(top, _blue, _darkblue)
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkblue
	.open>a, .open>a:hover, .open>a:focus
		background _darkblue
	li .dropdown-menu a
		color _darkblue
		&:hover
			color white
			background linear-gradient(top, _blue, _darkblue)
/*  red  */
.navbar-red-theme
	background linear-gradient(top, _red, _darkred)
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkred
	.open>a, .open>a:hover, .open>a:focus
		background _darkred
	li .dropdown-menu a
		color _darkred
		&:hover
			color white
			background linear-gradient(top, _red, _darkred)

/*  green  */
.navbar-green-theme
	background linear-gradient(top, _green, _darkgreen)
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkgreen
	.open>a, .open>a:hover, .open>a:focus
		background _darkgreen
	li .dropdown-menu a
		color _darkgreen
		&:hover
			color white
			background linear-gradient(top, _green, _darkgreen)

/*  purple  */
.navbar-purple-theme
	background linear-gradient(top, _purple, _darkpurple)
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkpurple
	.open>a, .open>a:hover, .open>a:focus
		background _darkpurple
	li .dropdown-menu a
		color _darkpurple
		&:hover
			color white
			background linear-gradient(top, _purple, _darkpurple)

/*  gray  */
.navbar-gray-theme
	background linear-gradient(top, _gray, _darkgray)
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background _darkgray
	.open>a, .open>a:hover, .open>a:focus
		background _darkgray
	li .dropdown-menu a
		color _darkgray
		&:hover
			color white
			background linear-gradient(top, _gray, _darkgray)

/*  default  */
.navbar-default-theme
	background linear-gradient(top, white, #eee)
	.navbar-brand
		color #565656
	li>a
		color #565656
		&:hover
			color #565656
	.active
		background #ccc
	.open>a, .open>a:hover, .open>a:focus
		background #ccc
	li .dropdown-menu a
		color #444
		&:hover
			color #565656
			background linear-gradient(top, #f8f8f8, #eee)
/*  inverse  */
.navbar-inverse-theme
	background linear-gradient(top, #555, #232323)
	.navbar-brand
		color white
	li>a
		color white
		&:hover
			color white
	.active
		background #232323
	.open>a, .open>a:hover, .open>a:focus
		background #232323
	li .dropdown-menu a
		color #232323
		&:hover
			color white
			background linear-gradient(top, #555, #232323)
/*  white  */
.navbar-white-theme
	background linear-gradient(top, white, #eee)
	.navbar-brand
		color #323232
	li>a
		color #323232
		&:hover
			color #323232
	.active
		background #eee
	.open>a, .open>a:hover, .open>a:focus
		background #eee
	li .dropdown-menu a
		color #323232
		&:hover
			color #323232
			background linear-gradient(top, white, #eee)

/* -------------------
 * 	OTHER STYLE THEME
 */

h1
	font-size 46px
h2
	font-size 40px
h3
	font-size 34px
h4
	font-size 28px
h5
	font-size 24px
h6
	font-size 20px

select.form-control
	background-image linear-gradient(top, white, #eee)






